<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
<div class="sidebar">
  <div class="icon">
    <p><a href="#"><i class='bx bx-chevron-down'></i>Favorites</a></p>
  </div>
  <div class="menu">
    <ul class="main">
      <a href="#"><li>Inbox</li></a>
      <a routerLink="/noidung1"><li class="active">Sent Items</li></a>
    </ul>
  </div>
  <div class="icon">
    <p><a href="#"><i class='bx bx-chevron-down'></i>John</a></p>
  </div>
  <div class="menu">
    <ul class="main">
      <a href="#"><li>Inbox</li></a>
      <a href="#"><li>Drafts</li></a>
      <a href="#"><li>Deleted Items</li></a>
      <a href="#"><li>Sent Items</li></a>
      <a href="#"><li>Outbox</li></a>
    </ul>
  </div>
</div>
<div class="all">
  <router-outlet></router-outlet>

</div>

</body>
</html>
